.stadium {
    background: url(../img/trava.png);
    margin: 100px auto 0;
    width: 1155px;
    position: relative;
    padding: 0 10px;
}
.track {
    position: relative;
    height: 110px;
}
.track + .track {
    margin-top: 50px;
}
.player {
    height: 100px;
    width: 110px;
    position: absolute;
    top: 5px;
    left: 0;
    background: center no-repeat;
    transition: left linear 1.5s;
}
.zaec {
    background-image: url(../img/zaec.png);
}
.volk {
    background-image: url(../img/volk.png);
}
.barrier {
    position: absolute;
    width: 55px;
    height:110px;
    background: center no-repeat;
    top: 5px;
}
.kamen {
    background-image: url(../img/kamen.png);
    background-position: center 75px;
}
.yagoda {
    background-image: url(../img/yagoda.png) ;
}

.message {
    display: none;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 40%;
    background: #fff;
    width: 20%;
    text-align: center;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}